@charset "UTF-8";

/* nintendo_main.css */

#wrap{width:100%; height: auto; margin:auto;}

#headBox{width:100%; height:80px;}
  .head_area{width:1200px; height:80px;  margin:auto; text-align: center}
  h1{float:left; width:150px; height:100%; padding:16px; box-sizing:border-box; background-color:#ff1d25; color:#fff;}
  #navBox{float:right; width:1016px; height:100%;}
  .gnb{float:left; width:780px; height:100%;}
  .gnb ul{width:100%; height:100%;}
  .gnb li{float:left; width:140px; height:100%; padding-top:25px; box-sizing:border-box; margin-right:20px; font-weight:bold; background-color:#fff; }
  .gnb li:last-child{margin-right:0px;}
  .unb{float:right; width:160px; height:100%;}
  .ul{width:100%; height: 100%;}
  .unb li{float:left; width:60px; height:60px; margin:10px; padding-top:15px; box-sizing:border-box; background-color:#ccc;}

/* //headBox================================================ */


#viewBox{width:100%; height:600px; background-color:#f2f2f2;}
  .view_area{width:100%; height:534px; background-color:#808080;}


/* //viewBox================================================ */

#contentBox{position:relative;  width:1200px; height:430px; margin:auto; background-color:#f2f2f2;}
  .con_area{position:absolute; z-index:100; bottom:46px; width:1200px; height:480px; padding-top:26px; box-sizing:border-box; background-color:#fff;}


  .con_tab{width:100%; height:50px; text-align: center; padding-bottom:10px;}
  .con_tab_01{font-size:1em; color:#999;}
  .con_tab_02{font-size:1.5em;}
  .con_tab_03{font-size:1em; color:#999;}


  .con_list{width:1090px; height:350px; margin:auto;}
  .con_list ul {width:100%; height:100%;}
  .con_list li {float:left; width:250px; height:100%; margin-right:30px; border-radius:10px; background-color:#999;} 
  .con_list li:last-child{margin-right:0px;}

/* //contentBox =========================================================*/

#storyBox{width:100%; height:630px; padding-top:137px; box-sizing:border-box; background-color:#ff1d25;}
  .story_area{width:1200px; height:356px; margin:auto; padding-top:30px; box-sizing:border-box; text-align:center;}
  .story_area >p{font-weight:bold; font-size:3.0em; color:#fff;}

  .switch_btn{width:300px; height:58px; margin:auto; background-color:#fff;}


/* //storyBox================================================ */

#newsBox{width:100%; height:600px; padding-top:75px; box-sizing:border-box; background-color:#fff;}
  .news_area{width:1200px; height:450px; margin:auto;
  padding:88px; box-sizing:border-box; background-color:#e6e6e6;}

  .news_area >h3{display:block; width:1036px; height:48px;}

  .news_list{width:1036px; height:238px; margin:auto;}
  .news_area ul{width:100%; height:100%;}
  .news_area li{float:left; width:312px; height:238px; margin-right:50px; border-radius:10px; background-color:#808080;}
  .news_area li:last-child{margin-right:0px;}

/* //newsBox================================================ */

#shopBox{width:1200px; height: 140px; margin:auto; }
  .shop_area{width:1200px; height:100px; margin:auto;border:5px solid #ea980f;}
  .shop_area > p{font-size:2.0em; text-align: center;}

/* //shop_bar ========================================================*/

#pvBox{width:100%; height:600px; background-color:#cccccc;}
  .pv_area{width:1200px; height:600px; margin:auto; padding:58px; box-sizing:border-box; }
  .pv{width:774px; height:484px; background-color:#808080;}

/* //pvBox================================================ */

#nav_bottom{width:100%; height:70px; background-color:#ff1d25;}
  .nav_b_area{width:1200px; height:100%; margin:auto; }

  .nav_b_list{float:left; width:710px; height:100%;}
  .nav_b_list > ul {width:100%; height:100%; text-align: center;}
  .nav_b_list li {float:left; width:100px; height:100%; margin-right:70px; padding-top:24px; box-sizing: border-box; color:#fff;}
  .nav_b_list li:last-child{margin-right:0px;}
  .up{float:right; width:70px; height:70px; padding:10px; box-sizing:border-box;}    
  .up_button{width:50px; height:50px; color:#fff; background-color:#ff1d25; border:2px solid #fff; border-radius: 50%;}

/* //nav_bottom===========================================*/


#footBox{width:100%; height:300px; background-color:#231815;}
 .footarea{width:1200px; height:100%; margin:auto; }
 .info{float:left; width:650px; height:auto; margin-top:194px;}
 .info >p{color:#c9c8c9;}
 .call{float:right; width: 400px; height:auto; margin-top:194px;}
 .call >p{float:right; color:#c9c8c9;}



  